.accountEnter > a{
    text-decoration: none;
    color: beige !important;
}

footer p{
    margin-bottom: 0;
}
.inlineList{
    list-style-type: none;
    margin-bottom: 0;
}
.inlineList li{
    display: inline !important;
    float: left;
}